@use '../global/variables' as *;
@use '../global/mixins' as *;

.btn {
  display: inline-block;
  width: auto;
  padding: 10px 25px;
  border-radius: $border-radius;
  background-color: $color-primary-text;
  color: $bg-section;
  text-decoration: none;
  font-family: $font-body;
  font-size: $font-size-base;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $color-accent-pink;
    color: $bg-section;
  }

  @include mobile {
    width: auto;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}