@use '../global/variables' as *;
@use '../global/mixins' as *;

.footer {
    background-color: $bg-primary;
    color: $text-secondary;
    font-family: $font-body;
    font-size: $font-size-sm;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid $color-accent-lavender;

    p {
        margin: 0;
    }

    @media (max-width: $breakpoint-tablet) {
        font-size: 14px;
        padding: 25px 0;
    }
}