@use '../global/variables' as *;
@use '../global/mixins' as *;

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; // espace entre les cards

    // Mobile / Tablette
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem; // espace vertical
    }
}

.project-card {
    background-color: $bg-section;
    border-radius: $border-radius;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    text-decoration: none;
    display: block;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    &:focus-visible {
        outline: 2px solid $color-primary-text;
        outline-offset: 4px;
        border-radius: $border-radius;
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    h3 {
        font-family: $font-title;
        font-weight: $font-bold;
        font-size: $font-size-lg;
        color: $color-primary-text;
        margin-bottom: 10px;
    }

    p {
        font-size: $font-size-base;
        color: $text-primary;
        margin-bottom: 15px;
    }

    .project-tech {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        span {
            background: none;
            color: $text-secondary;
            padding: 5px 10px;
            border-radius: $border-radius;
            border: 2px solid $text-secondary;
            font-size: 14px;
        }
    }


    // Mobile / Tablette
    @media (max-width: 768px) {
        width: 90%; // prend presque toute la largeur
    }
}