@use '../global/variables' as *;
@use '../global/mixins' as *;
@use '../components/skills';


.about {
    padding: 4rem 2rem;
    background-color: $bg-section;
    color: $text-primary;
    font-family: $font-body;
    text-align: center;

    h2 {
        font-family: $font-title;
        font-weight: $font-bold;
        font-size: $font-size-xl;
        color: $color-primary;
        margin-bottom: 1.5rem;
    }

    .about-container {
        max-width: 900px;
        margin: 0 auto;
    }

    .about-intro {
        font-size: $font-size-lg;
        font-weight: $font-regular;
        margin-bottom: 1rem;
        color: $text-secondary;
    }

    p {
        color: $text-primary;
        margin-bottom: 1rem;
        font-size: $font-size-base;
    }

    .about-skills {
        h3 {
            font-family: $font-title;
            font-weight: $font-bold;
            font-size: $font-size-lg;
            color: $color-primary;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
    }
}

/* Responsive */
@media (max-width: $breakpoint-tablet) {
    .about {
        padding: 3rem 1rem;

        h2 {
            font-size: 28px;
        }

        .about-intro {
            font-size: 16px;
        }

        p {
            font-size: 15px;
        }

        .about-skills ul li {
            font-size: 14px;
            padding: 0.4rem 0.8rem;
        }
    }
}