// Palette de couleurs

// Fonds
$bg-primary: #0f0f0f; // Onyx
$bg-section: #201024; // Black Forest

// Branding
$color-primary-text: #C47DB5; // Grape Soda (dominante)

// Accents
$color-accent-pink: #dba1ca; // Blush Pop (décoratif uniquement)
$color-accent-lavender: #9e8ac7; // Sage Green

// Texte
$text-primary: #f7f5f1; // blanc cassé
$text-secondary: #b8a3e2; // lavande clair

// Typographie

// Fonts
$font-logo: 'Playfair Display', serif;
$font-title: 'Playfair Display', serif;
$font-alt-title: 'Crimson Text', serif;
$font-body: 'Open Sans', sans-serif;

// Poids
$font-bold: 700;
$font-regular: 400;

// Tailles
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-xl: 32px;

// Layout

$max-width: 1200px;
$border-radius: 10px;

//  Breakpoints (mobile-first)

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;